<a href="https://colab.research.google.com/github/Luizcosta142/Python005/blob/main/Produ%C3%A7%C3%A3o_Hospitalar_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando dados de produção hospitalar

### 1.2

In [3]:
import pandas as pd

In [4]:
# dados é um DataFrame
dados = pd.read_csv("/content/A152918189_28_143_208.csv", encoding="ISO-8859-1",
            skiprows=3, sep=";", skipfooter=12, thousands=".", decimal=",")

<ipython-input-4-3fd51cbabfcf>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv("/content/A152918189_28_143_208.csv", encoding="ISO-8859-1",

In [5]:
dados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,1388528.39,2931283.42,1541682.52,1525314.96,1645953.84,1406150.68,3065279.01,3231494.61,3117178.63,...,9858841.18,9806315.07,14946369.28,15552930.66,16269008.71,15380532.08,14228814.25,12427865.05,10345616.78,1.088060e+09
1,12 Acre,902416.00,1497206.26,1794028.48,1730469.42,1819443.92,1828496.00,2511754.59,2089107.14,2275708.53,...,3715723.12,3538427.92,4077045.92,6307616.67,6354514.15,3461663.11,4979239.30,4138751.64,-,4.752903e+08
2,13 Amazonas,4735529.42,7118990.57,8196635.49,8259378.42,7831399.90,8477273.62,9368858.72,9352532.70,9363099.35,...,21621697.26,26163677.75,23445832.76,23154039.32,26127701.15,26447055.27,24457791.81,22731356.54,19840265.30,2.061943e+09
3,14 Roraima,657889.53,777939.31,718688.03,839994.39,862347.96,832440.66,996693.09,894271.18,910424.17,...,3266928.47,3519773.73,4437161.10,5171370.92,4266254.94,3103979.88,3743330.65,3781921.16,3150835.05,3.525463e+08
4,15 Pará,18864744.11,19553758.20,21937342.70,20842829.69,23249952.88,23240687.56,24002223.56,23341218.03,25172261.32,...,38813794.18,39251569.26,40639703.77,46608262.09,55310881.51,48215050.10,45801750.84,43262884.30,14569318.55,4.968812e+09

In [6]:
dados.tail()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
22,43 Rio Grande do Sul,30931325.46,57363420.01,51547794.07,56673338.49,48397733.07,52413429.62,56636376.98,56113054.70,55356224.30,...,1.200301e+08,1.119450e+08,1.343390e+08,1.445265e+08,1.473467e+08,1.483085e+08,1.498138e+08,1.345690e+08,120016574.60,1.361334e+10
23,50 Mato Grosso do Sul,5377392.11,7002472.61,8423933.19,8797487.68,9770421.80,10905392.18,10249299.82,9671553.45,10218511.05,...,2.201409e+07,2.524996e+07,2.602883e+07,2.684042e+07,2.864920e+07,3.392048e+07,3.155202e+07,3.631052e+07,32338424.49,2.516383e+09
24,51 Mato Grosso,4795299.01,8684882.23,7886243.14,8794109.79,9231645.40,10221763.77,9163314.28,9243148.81,9052354.89,...,1.948153e+07,1.906485e+07,2.428373e+07,3.107621e+07,3.188584e+07,3.318768e+07,3.894321e+07,3.776361e+07,27274369.25,2.386584e+09
25,52 Goiás,15310637.29,22258668.68,21442515.75,20921212.45,21615970.67,18270043.87,20540517.13,20650730.67,20868443.56,...,4.647390e+07,4.432946e+07,5.770139e+07,6.162324e+07,5.873777e+07,6.478946e+07,7.202116e+07,7.090287e+07,64176809.02,5.380181e+09
26,53 Distrito Federal,4745919.19,7632480.67,9647203.26,11098732.99,12891719.72,12850125.67,12565646.74,13710857.89,13165106.20,...,2.352705e+07,2.276695e+07,3.183192e+07,3.841012e+07,3.153282e+07,3.062936e+07,2.966272e+07,2.728877e+07,28509985.96,2.778457e+09

In [7]:
dados.mean()

<ipython-input-7-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2008/Jan    1.512685e+07
2008/Fev    2.271016e+07
2008/Mar    2.459419e+07
2008/Abr    2.543196e+07
2008/Mai    2.651125e+07
                ...
2021/Mai    7.954007e+07
2021/Jun    8.272434e+07
2021/Jul    8.160132e+07
2021/Ago    7.503592e+07
Total       6.852328e+09
Length: 164, dtype: float64

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 167 entries, Unidade da Federação to Total
dtypes: float64(164), object(3)
memory usage: 35.4+ KB

In [9]:
pd.options.display.float_format = "{:.2f}".format

In [10]:
dados.mean()

<ipython-input-10-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2008/Jan     15126846.64
2008/Fev     22710158.12
2008/Mar     24594187.35
2008/Abr     25431957.83
2008/Mai     26511245.91
                ...
2021/Mai     79540074.51
2021/Jun     82724335.66
2021/Jul     81601322.73
2021/Ago     75035922.89
Total      6852328259.77
Length: 164, dtype: float64

In [16]:
selecao_de_coluna = dados['2018/Ago']
selecao_de_coluna

0      9177611.46
1      2998865.51
2     14427620.91
3      2740088.01
4     35497371.12
5      2453555.40
6      5473666.63
7     30255833.42
8     17055960.69
9     50528833.27
10    21629797.35
11    19011606.67
12    70554341.99
13    16793811.48
14    10198444.73
15    74505873.73
16   154281495.01
17    26009340.50
18    80453782.86
19   298702204.56
20   127874482.35
21    62730906.87
22    94010888.97
23    16468255.95
24    15569285.17
25    33899286.36
26    23318726.05
Name: 2018/Ago, dtype: float64